.header{
	position: relative;
}
.right-sidebar .content-area{
	background: #F9F8F8;
}
.woocommerce-Price-amount.amount{
	color: black; 
}

a:hover, a:focus {
    color: #35c11d !important;
    text-decoration: none !important;
} 
.ysm-search-widget .search-field[type="search"]{
	background: none 50% 50% no-repeat white; 
    border: 1px solid #1565c0;
    color: black;
}
.site-header-cart .cart-contents:after,
.storefront-handheld-footer-bar ul li.cart > a:before {
	content: "\f07a"; 
    color: white;
}
.logo-nav-left{
	h1{
		a{ 
			&:hover{
				color: #fff !important;
			}
		}
	}
}

.cart-contents{
	font-size: 25px;
    padding: 10px 0px !important;
    .count{
    	font-size: 18px;
    	padding-right: 13px;
    	color: white;
    }
}
.top-left{
	color: white;
}
.comment-form-comment{
	margin-bottom: 10px !important;
}
.star-rating{
	margin: 0 auto;
	span{
		&:before{
			color: #F19E1F !important;
		}
	}
}
@media (max-width: 736px){
.logo-nav-left1 {
    width: 100% !important;
}
}

.woocommerce-mini-cart__total.total{
	color: black;
}
.breadcrumbs.container{
	padding: 20px 0px;
}
.cd-search{
	position: absolute;
	top: 100% !important;
}
#menu-menu-main{
	li{
		a{

			&:after{
				transition: 1s;
				content: '';
				width: 0%;
				height: 1px; 
				display: block;
				background: #829c80;

			}
			&:hover{
				&:after{
					width: 100%;
				}
			}
		}
		
		
	}
}
.heder-bottom{
	.container{
		position: relative;
		.cd-header-buttons{
			top: 0% !important;
			right: 0% !important;
		}
	}
}
h2{
	font-size: 20px !important;
}